[Unit]
Description=Pirl Master Node
Requires: pirlnode.service

[Service]
EnvironmentFile=/etc/pirlnode-env

Type=simple
User={{ RUNAS_USER }}
Group={{ RUNAS_USER }}

ExecStart=/usr/local/bin/pirl-linux-amd64 --rpc
Restart=always
