---
- name: SET UP SSH PORT
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "^Port"
    line: "Port {{ SSHD_PORT }}"

- name: INSTALL policycoreutils-python if on CentOS
  yum:
    name: policycoreutils-python
    state: latest
  become: yes
  when: ansible_os_family == "CentOS" or ansible_os_family == "RedHat"

- name: SET UP SELINUX FOR SSHD PORT
  seport:
    ports: "{{ SSHD_PORT }}"
    proto: tcp
    setype: ssh_port_t
    state: present
  when: '"enabled" in ansible_selinux.status'

# We notified "Restart sshd" if we modified the sshd config.
# By calling flush_handlers, we make sure the handler is run *right now*
- name: FLUSH HANDLERS
  meta: flush_handlers

# We're done, make sure ansible_port is set properly so that any tasks after this use the right ansible_port.
- name: UPDATE ANSIBLE WITH NEW SSHD PORT
  set_fact:
    ansible_port: "{{ SSHD_PORT }}"

# We run setup to gather facts here once the SSH port is set up.
- name: REFRESH ANSIBLE FACTS
  setup:

- name: RESTART SSHD
  service:
    name: sshd
    state: restarted
